page-moniter {
    .imgsize{
        width: 80%;
        height: 90%;
    }
    h4{
        font-size: 0.7rem;
    }
    .list{
        height: 75px;
    }
    .d{
font-size: 3rem;
    }
    .grid{
        padding: 0px;
    }
    
    
}
