    page-userlist {
        .imgsize1 {
            height: 7px;
            width: 7px;
        }
        .status {
            margin-top: 15px;
        }
        .pic {
            text-align: right;
            margin-top: -6px;
        }
    }